
/* Category page sidebar */
.woocommerce-page {
    &.archive {
        .sidebar-content {
            // border: 1px solid var(--porto-gray-5);
            // .widget-title { padding: 0; background: none; border: none; }
            // .porto-separator { display: none; }
            aside.widget { border-bottom: 1px solid var(--porto-gray-5); margin-bottom: 0; margin-top: 0; padding: 20px 0; }
            aside.widget:first-child { padding-top: 0; }
            aside.widget:last-child { padding-bottom: 0; border-bottom: none; }
            // aside.widget .widget { margin-bottom: 0; }  ////////////////////////
            // .widget, ////////////////////////
            // .wp-block-group__inner-container {
            //     > *:last-child {
            //         margin-bottom: 0;
            //         padding-bottom: 0;
            //     }
            // }
        }
        // @media #{$screen-normal} {
        //     .mobile-sidebar aside.widget {
        //         padding-left: 0; padding-right: 0;
        //         &:first-child { padding-top: 0; }
        //     }
        // }
    }
    .sidebar-content {
        > ul {
            max-height: 290px;
            padding-#{right}: 5px;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                width: 5px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 5px;
                background: var(--porto-gray-2);
            }
        }
        ul {
            font-size: 1em;
            font-weight: 500;
            letter-spacing: -0.03em;
            li a {
                line-height: 2em;
                color: var(--porto-body-color);
            }
            li.current > a,
            li a:hover {
                color: var(--porto-heading-color);
            }
        }
        .owl-carousel.show-nav-title .owl-nav {
            margin-top: -38px;
        }
    }
    aside .wc-blocks-components-form-token-field-wrapper:not(.is-loading),
    .components-form-token-field__token > * {
        border-color: var(--porto-gray-5) !important;
    }
}

.woocommerce-page {
    .sidebar-content .widget-title,
    .widget_block .wp-block-heading {
        font-size: 15px;
        font-weight: $font-weight-semibold;
        line-height: 2em;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
}
// .sidebar .product-categories li > a { font-size: 15px; line-height: 1.9334em;}

/* WooCommerce Default Gutenberg Block Style with Sidebar */
.woocommerce-page {
    .wc-block-active-filters,
    .wc-block-components-price-slider,
    .wc-block-components-product-sort-select,
    .wp-block-woocommerce-rating-filter,
    .wc-block-stock-filter {
        margin-bottom: 0;
    }

    // WooCommerce Active Filter Widget
    .wc-block-active-filters {
        .wc-block-active-filters__list-item-type {
            font-size: 0.85em;
            font-weight: 400;   
            color: var(--porto-dark-color);
        }
        .wc-block-active-filters__list-item-name {
            font-size: 1em;
            color: var(--porto-body-color);
        }
    }
    // Filter by Attribute widget
    .wc-block-attribute-filter,
    .wc-block-stock-filter-list {
        margin-bottom: 0;
        label {
            font-size: 1em;
        }
    }
    .wp-block-woocommerce-price-filter {
        color: var(--porto-heading-color);
        border-color: var(--porto-heading-color);
        .wc-block-price-filter__range-input-wrapper {
            margin-top: 3px;
            margin-bottom: 20px;
        }
        .wc-block-components-price-slider__amount {
            font-size: 1em;
            border-color: var(--porto-input-bc) !important;
            padding: 4px 8px;
        }
    }

    .wc-block-components-checkbox {
        .wc-block-components-checkbox__input[type=checkbox] {
            width: 20px;
            height: 20px;
            min-height: 20px;
            min-width: 20px;
            outline: none !important;
            background-color: var(--porto-body-bg);
            border-color: var(--porto-gray-2);
            &[checked] {
                background-color: var(--porto-dark-color);
                border-color: #ffffff;
            }
        }
        svg {
            fill: #fff;
        }
    } 
    .wp-block-woocommerce-customer-account {
        padding: 0;
        .label {
            font-size: inherit;
            font-weight: 500;
            color: var(--porto-body-color);
        }
    }
}
.widget_block {
    // All reviews woo gutenberg widget
    .wc-block-review-list {
        border-bottom-width: 0;
    }
    .wc-block-review-list>li {
        padding-top: 20px;
        padding-bottom: 20px;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .wc-block-components-review-list-item__info {
        margin-bottom: 15px;
    }
    .wc-block-review-list-item__image img {
        border-radius: 50%;
    }
    .wc-block-components-review-list-item__author, .wc-block-components-review-list-item__product {
        line-height: 1.4;
    }

    .wc-block-product-categories-list {
        border-bottom-width: 0;
    }
    .wc-block-product-categories-list>li {
        border-top-width: 0;
    }
}

// Filter Item Color - Yith Ajax Navigation Filter widget and WooCommerce Widget
.sidebar-content .filter-item-list,
.woocommerce-page .sidebar-content .yith-woo-ajax-navigation ul.yith-wcan-color {
    display: block;
    padding-top: 4px;
    padding-left: 4px;
    padding-bottom: 4px;
}
.sidebar-content .filter-item-list .filter-color,
.woocommerce-page .sidebar-content .yith-woo-ajax-navigation ul.yith-wcan-color a,
.woocommerce-page .sidebar-content .yith-woo-ajax-navigation ul.yith-wcan-color span {
    font-size: 14px;
    letter-spacing: -0.03em;
    font-weight: 500;
    text-indent: 36px;
    line-height: 18px;
    --porto-sw-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 15px;
    border-color: var(--porto-gray-5) !important;
}
.sidebar-content .filter-item-list li:last-child .filter-color,
.woocommerce-page .sidebar-content .yith-woo-ajax-navigation ul.yith-wcan-color li:last-child a,
.woocommerce-page .sidebar-content .yith-woo-ajax-navigation ul.yith-wcan-color li:last-child span {
    margin-bottom: 0;
}
.sidebar-content .filter-item-list li .filter-color:before,
ul.yith-wcan-color li a:before,
ul.yith-wcan-color li span:before {
    content: "";
    position: absolute;
    --porto-sw-offset: -4px;
    left: var(--porto-sw-offset);
    top: var(--porto-sw-offset);
    right: var(--porto-sw-offset);
    bottom: var(--porto-sw-offset);
    border: 1px solid var(--porto-gray-5);
    border-radius: 50%;
}
.sidebar-content .filter-item-list li:hover .filter-color,
.sidebar-content .filter-item-list li.active .filter-color,
.sidebar-content .filter-item-list li.chosen .filter-color,
ul.yith-wcan-group:not(.yith-wcan-label) li:hover a,
ul.yith-wcan-group:not(.yith-wcan-label) li.active a,
ul.yith-wcan-group:not(.yith-wcan-label) li.chosen a,
ul.yith-wcan-group:not(.yith-wcan-label) li:hover span,
ul.yith-wcan-group:not(.yith-wcan-label) li.active span,
ul.yith-wcan-group:not(.yith-wcan-label) li.chosen span  {
    color: var(--porto-heading-color);
    &:before {
        border-color: var(--porto-heading-color) !important;
        --porto-sw-offset: -4px;
    }
}