/* 
 * Compatibility with YITH FBT and PRO
 *
 * @since 6.6.0 
 */

.yith-wfbt-slider-wrapper .yith-wfbt-products-list {
    margin-left: 0;
    margin-right: 0;
}
.yith-wfbt-submit-button {
    background-color: var(--porto-heading-color);
    border-color: var(--porto-heading-color);
    color: var(--porto-body-bg);
}

.yith-wfbt-section {
    > h3 {
        font-size: 1rem;
        font-weight: 600;
        line-height: 2.5;
        letter-spacing: -.01em;
        text-transform: uppercase;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 17px;
    }
    .yith-wfbt-item input[type=checkbox] {
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 1px solid #c1c0ca;
        font-size: 1.06667em;
        --porto-fbt-ch: 1.25em;
        top: calc(50% - var(--porto-fbt-ch) / 2);
        width: var(--porto-fbt-ch);
        height: var(--porto-fbt-ch);
        color: var(--porto-heading-color); // for dark mode
        
        &:checked:before {
            content: "\f00c";
            font-family: var(--fa-style-family-classic, "Font Awesome 6 Free");
            font-weight: 900;
            display: flex;
            justify-content: center;
            line-height: calc( var(--porto-fbt-ch) - 2px );
        }
    }
    .yith-wfbt-images .image_plus {
        width: 2.5rem;
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--porto-heading-color);
    }
    .yith-wfbt-images {
        margin-right: 28px;
    }
    .price_text {
        margin-bottom: 10px;
        padding-top: 18px;
        font-size: 1rem;
    }
    .total_price {
        font-weight: 600;
        ins {
            font-size: 1.25em;
            color: var(--porto-heading-color);
            text-decoration: none;
        }
    }
    .yith-wfbt-submit-button {
        padding: 1em 2.57em;
        text-transform: uppercase;
        font-weight: 600;
    }
    .yith-wfbt-items {
        margin-top: 45px;
    }
    .yith-wfbt-item a:not(:hover) {
        color: var(--porto-heading-color);
    }
    .yith-wfbt-item {
        font-size: .9375rem;
        margin-bottom: 12px;
        .price {
            font-size: 1.2em;
        }
    }
    @media(max-width: 991px) {
        .yith-wfbt-images {
            float: unset;
        }
    }

}
.yith-wfbt-section .yith-wfbt-images td img {
    width: 106px;
}

.rtl .yith-wfbt-section .yith-wfbt-images {
    margin-left: 28px;
    margin-right: 0;
}