.woo-variation-swatches .wvs-widget-layered-nav-list__item-color > a {
	border: none;
	padding: 0;
}
.woo-variation-swatches .wvs-widget-layered-nav-list__item-color.chosen > a {
	background: none;
	border: none;
	color: inherit;
}